body{
    margin-bottom: 0px 30px 0px 30px;
    padding: 0px 2% 0px 2%;
}

header{
    background-color:#8fbc8f;
    background-image: url("../images/flywheel.jpg");
    height: 160px;
    background-size:cover;
}

h1 {
    color:#f5f5f5;
    text-align:center;   
    font-variant:all-small-caps;
    font-size:250%;
    /* border:outset 2px #6495ed; */
}

nav{
    text-align:center;
    padding:5px;
}
nav a{
    background-color:rgba(227, 240, 241, 0.6);
    color:#000000;
    font-size: larger;
    text-align: center;
    display: inline-block;
    width:16%;
    margin-right: 2%;
    padding:10px;

    /* border-radius <-- Browser Prefixes*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    text-decoration: none;
}

nav>a:hover{
    background:#f5f5f5;
}

.active{
    background:#f5f5f5;
}

aside img{
    width:90%;
    margin:10% auto;
    display:block;
    border:1px solid #000000;
    text-align: center;
}

.left{ 
    width:20%;
    height:100vh;
    display:block;
    float:left;
    background-color:#9087399d;
}

.right{
    width:76%;
    margin-left:20%;
    display:block;
    background-color:#faebd7;
    padding-left:4%;
    height:100vh;
}

h2{
    color:#387c56;
    text-align:Left;
    font-variant:all-small-caps;
    font-size:250%;
    margin:0%;
}

p{
    font-size:16pt;
    margin-right: 5%;
    text-align: justify;
}

ul{
    font-size: larger;
}

table{
    margin:2%;
    width:90%;
    height:60%;
    text-align: center;
    font-size: larger;
    color:#000000;
    background-color:#8fbc8fac;
	/* -webkit-border-radius: 10px;
	border-radius: 10px; */
    border:1px  solid #ffffff;
    border-spacing: 0;
}

tr{
    opacity:60%;
}

tr:first-child{
    color:#ffffff;
    -webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
    border: 3px  solid #ffffff;
    /* border-top:6px solid #ffffff; */
    border-spacing: 0;
    /* background-color:#387c55; */

    background: -moz-linear-gradient(top, #387c55 0%, #8fbc8fac 100%);
	background: -webkit-linear-gradient(#387c55 0%, #8fbc8fac 100%);
	background: -o-linear-gradient(#387c55 0%,#8fbc8fac 100%);
	background: linear-gradient(#387c55 0%, #8fbc8fac 100%); 

}

th:first-child{
    text-align:left;
    padding-left:10px;
}

tr:hover{
    opacity:100%;
}

th {
    border: 1px  solid #ffffff;
    border-bottom: 4px solid #387c55;
    border-spacing: 0;
}

td {
    color:#02290b;
    border: 1px  solid #ffffff;
    border-spacing: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td:first-child{
    color:#000000;
    text-align:left;
    padding-left:10px;
}

